:root {
    --blanco: #ffffff;
    --primario: #ffb007;
    --secundario: #0097A7;
    --gris: #757575;
    --oscuro: #212121;
}
html {
    box-sizing: border-box;
    min-height: 50%;
}

body {
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    min-height: 100%;

}
header{
    text-align:center;
    flex-direction: column;
}


.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
    list-style: none;
    margin: 0; 
    background: var(--secundario);
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: var(--blanco);
  }
  
  .navigation a:hover {
    background: var(--primario);
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }




























.container{
    background-color: var(--secundario);
    display: flex;
   /* justify-content: space-around;*/
    flex-wrap: nowrap;
    
}

.items a{
    color: var(--blanco);
    text-decoration: none;  
    font-size: 2rem;  
    padding: 1rem;
    
}


.contactos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.academica{
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
}

.hobbie{
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
}

.cont{
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
}


.contenedor{
    width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    align-items: center;

}

.nav-bg{
    background-color: var(--secundario);
    align-items: center;
}
.navegador-principal {
    padding: 1rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}
.navegador-principal a{

    color: var(--blanco);
    text-decoration: none;  
    font-size: 2rem;  
    padding: 1rem;
}

.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
   
}

.navegacion{
    float: left;

}

.navegacion a{
    display: block;
    color: white;
    text-align: initial;
    padding: 14px 16px;
    text-decoration: none;
}

.navegacion a:hover {
    background-color: #111;
}

@media (min-width: 768px) {    



    .academica{
        display: grid;

    }

    .hobbie{
        display: grid;

    }

    .cont{
        display: grid;

    }
}

.navegador-principal a:hover{
    background-color: var(--primario); 
    color: var(--oscuro); 
}

.personal{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align:center;
    flex-direction: column;
}




.boton-contacto {
    display: inline-grid;
    height: 100px;
    width: 100px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primario);
    border-radius: 50%;
    flex-direction: column;
}


.contactos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contact{
    display: flex;
    align-items: center;
    text-align:center;
    flex-direction: column;
}
.contendor-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.turing{
    text-align: revert;
    text-align-last: unset;
}

.sombra {
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgb(0 0 0 / 63%);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgb(0 0 0 / 63%);
}
